{% extends 'myauth/base.html' %}

{% block title %}
  User update
{% endblock %}

{% block body %}
    <h1>Profile update <span style="color: red">{{ object.user.username }}</span> info</h1>
  <div>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Update</button>
    </form>
  </div>
  <div>
    <a href="{% url 'myauth:user-info' pk=object.user.pk %}"
    >Back to user {{ object.user.username }} PK {{ object.user.pk }}</a>
  </div>
{% endblock %}
