{% extends 'myauth/base.html' %}

{% block title %}
  User #{{ user.username }}
{% endblock %}

{% block body %}
  <h1>Username <strong>{{ user.username }}</strong></h1>
  <div>
    <p>First name: {{ user.first_name }}</p>
    <p>Last name: {{ user.last_name }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Bio: {{ user.profile.bio }}</p>
    <p>PK: {{ user.pk }}</p>
    <p>Profile.PK: {{ user.profile.pk }}</p>
    <p>Avatar:
      {% if user.profile.avatar %}
        <img src="{{ user.profile.avatar.url }}" alt="{{ user.profile.avatar.name }}" height=100>
      {% else %}
        NO AVATAR YET!
      {% endif %}
    </p>
    <br>
  </div>
  <div>
    {% if request.user.is_staff or request.user.pk == user.pk %}
      <a href="{% url 'myauth:user_update' pk=user.profile.pk %}">Update user info</a>
    {% endif %}
  </div>
  <div>
    <a href="{% url 'myauth:users_list' %}">Back to users list</a>
  </div>
{% endblock %}
