{% extends 'myauth/base.html' %}

{% block title %}
  Users list
{% endblock %}

{% block body %}
  <h1>Users:</h1>
  {% if users %}
    <div>
    {% for user_ in users %}
      <div>
        <h2>User info <a href="{% url 'myauth:user-info' pk=user_.pk %}"
        >{{ user_.username }}</a></h2>
        <p>Username: {{ user_.username }}</p>
        <p>First name: {{ user_.first_name }}</p>
        <p>Last name: {{ user_.last_name }}</p>
        <p>Email: {{ user_.email }}</p>
        <p>Bio: {{ user_.profile.bio }}</p>
        <p>PK: {{ user_.pk }}</p>
        <p>Profile.PK: {{ user_.profile.pk }}</p>
        <p>Avatar:
          {% if user_.profile.avatar %}
            <img src="{{ user_.profile.avatar.url }}" alt="{{ user_.profile.avatar.name }}" height=100>
          {% else %}
            NO AVATAR YET!
          {% endif %}
        </p>
        <br>
      </div>
    {% endfor %}

    </div>

  {% else %}
    <h3>No users yet</h3>
  {% endif %}

{#  <div>#}
{#    <a href="{% url 'shopapp:product_create' %}"#}
{#      >Create a new product</a>#}
{#  </div>#}
{% endblock %}